domain=killaz.localdomain
expand-hosts
local=/killaz.localdomain/

listen-address={{ grains['ip'] }}
bind-interfaces

dns-forward-max=5000

server=8.8.8.8
server=208.67.222.222
server=208.67.220.220

no-hosts
addn-hosts=/usr/local/etc/dnsmasq.conf.d/hosts.conf
addn-hosts=/usr/local/etc/dnsmasq.conf.d/extrahosts.conf

{% for (host,hostdetail) in pillar.get('hosts', {}).items() -%}
{% if 'cnames' in hostdetail.keys() %}
cname={{ hostdetail['cnames'] }},{{ host }}
{% endif -%}
{% endfor -%}
