domain=killaz.localdomain
expand-hosts
local=/killaz.localdomain/

listen-address={{ grains['ipv4'][0] }}
bind-interfaces

server=8.8.8.8
server=208.67.222.222
server=208.67.220.220

no-hosts
addn-hosts=/usr/local/etc/dnsmasq.conf.d/hosts.conf
addn-hosts=/usr/local/etc/dnsmasq.conf.d/extrahosts.conf
