databases/postgresql95-server
devel/git
devel/libffi
devel/py-babel
devel/py-Jinja2
devel/py-yaml
dns/dnsmasq
editors/vim
lang/perl5.20
lang/python
mail/ssmtp
math/gmp
net/openpgm
net/rsync
net/svnup
ports-mgmt/synth
security/ca_root_nss
security/libsodium
security/openssl
security/sshguard
security/sudo
shells/zsh
sysutils/ezjail
sysutils/screen
sysutils/py-salt
net/libzmq4
net/py-pyzmq
