interface: 192.168.1.200
hash_type: sha256
worker_threads: 10
timeout: 30
cli_summary: True

fileserver_backend:
  - roots

file_roots:
  base:
    - /srv/salt/
    - /srv/formulas/postgres-formula
    - /srv/formulas/nginx-formula

pillar_roots:
  base:
    - /srv/pillar
