databases/postgresql95-contrib
databases/postgresql95-server
devel/git
devel/strace
dns/dnsmasq
editors/vim
ftp/curl
mail/ssmtp
net/rsync
net/svnup
net/tcpdump
net-mgmt/zabbix32-frontend
net-mgmt/zabbix32-server
ports-mgmt/pkg_cutleaves
ports-mgmt/dialog4ports
security/nmap
security/openssl
security/sshguard
security/sudo
shells/zsh
sysutils/ezjail
sysutils/py-salt
sysutils/rubygem-fluentd
sysutils/screen
sysutils/syslog-ng
www/elinks
www/nginx
