security.jail.allow_raw_sockets=1
security.jail.mount_allowed=1
security.jail.mount_devfs_allowed=1
security.jail.mount_fdescfs_allowed=1
security.jail.mount_nullfs_allowed=1
security.jail.mount_procfs_allowed=1
security.jail.mount_tmpfs_allowed=1
security.jail.sysvipc_allowed=1
